.main-wrapper{
    position: relative;
    height: 100vh;
    width: 412px;
    background-image: url("/public/assets/Main.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.room-page {
    flex: 1; /* Take up all remaining space between UserInfo and Tapbar */
    position: relative;
    overflow: hidden;
}


.room-glow{
    position: absolute;
    top: 240px;
    height: 100%;
    width: 100%;
    background-image: url("../../public/assets/Glow.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}