.tapbar-wrapper{
    background-image: url("../../public/assets/Tapbar.png");
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
    flex: 0 0 auto
}